<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Veterinary Appointment Management System ">
    <meta name="application-name" content="Veterinary Appointment Management System ">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json">
    <title>Veterinary Appointment Management System</title>
</head>
<body>
<div id="app-root"></div>
<!--<form action="/api/auth/login" method="post">-->
<!--    <input name="username" id="username" type="text" placeholder="Your username"/>-->
<!--    <input name="password" id="password" type="password" placeholder="Your password"/>-->
<!--    <input type="submit"/>-->
<!--</form>-->
<script async src="/js/core.js"></script>
</body>
</html>
