<!DOCTYPE html>
<html lang="en">
<head>
    <!-- DNS prefetching allows the browser to perform DNS lookups on a page in the background while the user is browsing. -->
    <link rel="dns-prefetch" href="https://polar-everglades-87635.herokuapp.com/">

    <!-- Preload is a new web standard that offers more control on how particular resources are fetched for current navigation. -->
    <link rel="preload" href="/js/core.js" as="script">

    <!-- link prefetching allows the browser to fetch resources, store them in cache, assuming that the user will request them. -->
    <link rel="prefetch" href="/images/background.png">

    <!-- Prerendering is very similar to prefetching in that it gathers resources that the user may navigate to next. -->
    <link rel="prerender" href="/login">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Veterinary Appointment Management System ">
    <meta name="application-name" content="Veterinary Appointment Management System ">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json">
    <title>Veterinary Appointment Management System</title>
    <script>
        window.__INITIAL_STATE__=JSON.parse('<%- USER %>');
    </script>
</head>
<body>
<div id="app-root"></div>
<script async src="/js/core.js"></script>
</body>
</html>
