.layoutContainer {
    width: 100%;
    position: relative;
    background: url('/images/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
