
.ResponsiveTable {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    top: 3px;
    left: 3px;
    max-width: 900px;
    margin: auto;
}
.ResponsiveTable__Heading {
    background-color: rgba(51,51,51,.3);
    padding: 9px;
    text-align: center;
}
.ResponsiveTable__Cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: rgba(112, 128, 144, 0.2);
    margin: -3px 0 0 -3px;
    background-color: white;
    border-color: #e2e6e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ResponsiveTable__Cell > h3 {
    margin: 0;
}

.ResponsiveTable--5cols > .ResponsiveTable__Cell {
    width: 20%;
}
.ResponsiveTable--6cols > .ResponsiveTable__Cell {
    width: 16.6%;
}

.ResponsiveTable__Cell--Head {
    background-color: #32c1ce;
    border-color: #e2e6e9;
    color: #fff;
}

.ResponsiveTable__Cell--Tail{
    background-color: #32c1ce;
}
.ResponsiveTable--Collapse {
    padding-bottom: 35px;
}
.ResponsiveTable__Cell__CollpsedColHeader {
    display: none;
}

.ResponsiveTable__Cell--Head > h1,
.ResponsiveTable__Cell--Head > h2,
.ResponsiveTable__Cell--Head > h3,
.ResponsiveTable__Cell--Head > h4,
.ResponsiveTable__Cell--Head > h5,
.ResponsiveTable__Cell--Head > h6 {
    color: white;
}

@media all and (max-width: 600px) {
    .ResponsiveTable__Cell--Head {
        display: none;
    }
    .ResponsiveTable__Cell--Tail{
        margin-bottom: 10px;
    }
    .ResponsiveTable--Collapse > .ResponsiveTable__Cell__CollpsedColHeader {
        display: block;
        width: 50% !important;
    }
    .ResponsiveTable--Collapse > .ResponsiveTable__Cell {
        width: 50% !important;
    }
}
